<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Enter the length of password you want:</label>
        <input (input)="handleLength($event.target.value)">
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="handleLetters()">
            Use letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="handleNumbers()">
            Use numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="handleSymbols()">
            Use symbols
          </label>
        </div>
      </div>

      <div>
        <button class="button is-link is-fullwidth" (click)="generatePassword()"
          [disabled]="!(length && (useLetters || useNumbers || useSymbols))">Generate</button>
      </div>

      <div class="box" *ngIf="password">
        <h2>Your Password:</h2>
        <input class="input" [value]="password">
      </div>
    </div>
  </div>
</div>